/*logo da pagina*/
header h1 {
    color: #04040469;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background-color: rgba(92, 95, 95, 0.97);
    padding: 1em;
    
}

/*imagem do header*/
header img {
     text-align: center;
     width: 750px;
     max-width: 1000px;
     margin: 40px;
     border-image: auto;
}

/*corpo da pagina*/
body {
    padding: 1em;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(231, 223, 223);
    display: inline-block;
}

a {
    color: black;

}

/*botões de interação*/
nav li{
    display: inline-block;
}
ul li {
    text-align: center;
    display: inline-block;
}
/*imagens do body*/
img{
    display: inline-block;
    border: 1px;
    max-width: 300px;
    max-height: 150px;
}
/*link sobre o autor*/
footer {
    color: black;
    text-align: center;
}
